body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header, footer {
  padding: 1em 2em;
}

button {
  margin-left: 2em;
  padding: 10px;
  width: 150px;
  background: none;
  border: 2px solid green;
  border-radius: 10px;
  color: green;
  font-size: 18px;
  font-family: arial;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background-color: green;
  color: #fff;
}

h1 {
  margin: 0;
  padding: .67em 0;
}

img {
  max-width: 100%;
}

main {
  padding: 1em 2em;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
  grid-gap: 2em;
  justify-items: center;
}

main img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.normal {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

.normal img, .normal p {
  grid-column: 1;
  grid-row: 1;
}

.normal p {
  color: #fff;
  font-size: 1.4em;
  font-weight: 900;
  text-align: center;
  text-shadow: 0 0 4px #000;
}

/* modaal opmaak */
.modaal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.7);
  display: grid;
  align-items: center;
  justify-content: center;
}

.modaal-container {
  background-color: #fff;
  max-width: 70vh;
  padding: 2em;
  max-width: 80vh;
  overflow: auto;
  animation: schuif-binnen .8s cubic-bezier(.17,.67,.69,1.4) forwards;
}

.sluit-knop {
  float: right;
  font-size: 2em;
}

.sluit-knop:hover {
  color: red;
}

.validatie img {
  height: 1em;
  width: auto;
  border: 0;
  margin: 0 .3em;
  cursor: pointer;
}

@keyframes schuif-binnen {
  0% {margin-top: 90vh}
  100% {margin-top: 0}
}

@-o-keyframes schuif-binnen {
  0% {margin-top: 90vh}
  100% {margin-top: 0}
}

@-ms-keyframes schuif-binnen {
  0% {margin-top: 90vh}
  100% {margin-top: 0}
}
